$orange-50: #fcf0e9;
$orange-100: #f6d1ba;
$orange-200: #f1ba99;
$orange-300: #eb9b6a;
$orange-400: #e7874d;
$orange-500: #e16921;
$orange-600: #cd601e;
$orange-700: #a04b17;
$orange-800: #7c3a12;
$orange-900: #5f2c0e;

$gray-50: #f4f2f1;
$gray-100: #dcd7d5;
$gray-200: #cbc4c0;
$gray-300: #b4a9a3;
$gray-400: #a59991;
$gray-500: #8f7f76;
$gray-600: #82746b;
$gray-700: #665a54;
$gray-800: #4f4641;
$gray-900: #3c3532;

$blue-50: #e6f1f6;
$blue-100: #b1d3e2;
$blue-200: #8bbdd3;
$blue-300: #559fbf;
$blue-400: #358db3;
$blue-500: #0270a0;
$blue-600: #026692;
$blue-700: #015072;
$blue-800: #013e58;
$blue-900: #012f43;

$black-50: #e7e7e7;
$black-100: #b5b5b5;
$black-200: #929292;
$black-300: #606060;
$black-400: #414141;
$black-500: #111111;
$black-600: #0f0f0f;
$black-700: #0c0c0c;
$black-800: #090909;
$black-900: #070707;

$white-50: #fff;
$white-600: #e8e8e8;
$white-700: #b5b5b5;
$white-800: #8c8c8c;
$white-900: #6b6b6b;
